* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    margin:0;
    /* --color-text:#BE3455; */
    --color-text-alt:#544f47;
    --color-bg:#fff6e4;
    --color-link:#BE3455;
    --color-link-hover:#000;
    --color-thumb-caption-title:#fff;
    --color-thumb-caption-link-hover:#fff;
    color:var(--color-text);
	background-color:var(--color-bg);
    --cursor-fill:#BE3455;
    --cursor-text:#000;
    font-family:tenon,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
@font-face {
    font-family: "floane";
    src: url('../font/floane/Floane-Regular.ttf'),
    url('../font/floane/Floane-BoldItalic.ttf'),
    url('../font/floane/Floane-Regular.ttf'),
    url('../font/floane/Floane-RegularItalic.ttf');
}

/* main title */
.frame__title {
	font-size: 3.5rem;
	margin: 0 0 1rem;
	font-weight: 300;
	font-family: meno-banner, serif;
    position: relative;
    top : 60px;
}
.frame__title:hover {
	color: #000;
}

/* menu */
.frame {
	padding: 3rem 5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__pagetitle {
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
}

/* menu hover */
.frame__links {
	display: inline;
}
.frame__links> a {
	color: #BE3455;
}
.frame__links> a:hover {
	color: #000;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}

/* contents - top */
main {
	/* 전체 */
	width: 1124px;
	height: 580px; /*880px*/
	margin: 0 auto;
	/* background: #fff; */
	border-bottom: 1px solid #000;
	position: relative;
}
/* left */
main > #wrap {
	/* right+left 감싸는 영역 */
	width: 905px;
	height: 76px;/*476px*/
	margin: auto;
	position: absolute;
	left: 10%;
	top: -13%; /*20%*/

}
main> #wrap > #left {
	/* 사진 */
	width: 381px;
	height: 476px;
	background-image: url(../img/top_img.png);
	/* margin-right: 50px; */
	/* border: 1px solid red; */
	border-radius: 200px 200px 0 0;
	position: absolute;
}
main> #wrap> #right {
	/* right 감싸는 영역 */
	width: 415px; /*395px*/
	height: 200px;
	margin: 138px 0 0 50px;
	position: absolute;
	left: 430px;
}
main> #wrap> #right> .text {
	font-size: 48px;
	font-family: "winter_sans";
}
main>#wrap>#right>a>p {
	width: 75px;
	height: 30px;
	background: #000;
	color: #fff;
	margin: 30px 0 0 0;
	padding: 8px 16px 3px 18px;
	font-family: "winter_sans";
}

/* banner - middle */
section {
	width: 1124px;
	height: 366px;
	margin: 0 auto;
}
section>p {
	text-align: center;
}
section> p:first-child {
	font-size: 48px;
	margin-top: 63px;
}
section>p:nth-child(2) {
	margin-top: 42px;
}
section>p:last-child {
	font-size: 24px;
	font-family: 'Antic Didone', serif;
	margin: 42px 0 0 0;
}
/* contents - middle*/
#winebox {
	/* 전체 */
	/* width: 87vw; */
	width: 1124px;
	height: 1698px;
	margin: 0 auto;
	/* border: 1px solid red; */
	position: relative;
}
#winebox>.itembox1, #winebox>.itembox2 {
	/* 행 전체 */
	border-bottom: 1px solid black;
	height: 340px;
}
#winebox>.itembox1:last-child,
#winebox>.itembox2:last-child {
	/* 행 줄 마지막 삭제 */
	border-bottom: none;
}
.itembox1 {
	background: linear-gradient(
		to right,
		#fff4e2,
		#fffcf7,
		#fff4e2
	);
}
.itembox2 {
	/* background: #EFEFEF; */
	background: linear-gradient(
		to right,
		#fff4e2,
		#ffcd7c,
		#fff4e2
	);
}
/* left */
#left {
	float: left;
	/* background: lemonchiffon; */
	width: 200px;
	height: 100%;
	position: relative;
	/* border: 1px solid orange; */
	text-align: center;
	font-family: 'Antic Didone', serif;
}

h3 {
	text-align: center;
	margin-top: 120px;
}

#left a {
	/* size */
	width: 100px;
	height: 33px;
	color: #292929;
	background: #fff;
	border: 0.7px solid black;
	border-radius: 100px;
	/* locate */
	position: absolute;
	top: 179px;
	left: 48px;
	margin-top: 15px;
	/* font */
	font-weight: bold;
	font-family: 'Antic Didone', serif;
	cursor: pointer;
}
#left a>p {
	margin-top: 6.5px;
}
#left a:hover {
	width: 100px;
	height: 33px;
	border: 0.7px solid black;
	background: black;
	color: #fff; 
	border-radius: 100px;
}

/* right */
#right {
	/* 오른쪽 전체 */
	/* display: flex;
	flex-wrap: wrap; */
	float: right;
	position: relative;
	top: 0;
	/* border: 1px solid darkblue; */
	width: 917.9px;
	height: 340px;
	font-family: 'Antic Didone', serif;
}

#right > #whitewin1 {
	position: absolute;
	left: 200px;
}
.rightbox1 {
	/* 배경 - 홀수 */
	background: #292929;
}
.rightbox2 {
	/* 배경 - 짝수 */
	background: #fefefe;
}
.rightbox1 h2, .rightbox1 h4, .rightbox1 button {
	/* 텍스트 */
	color: #fff;
}
.rightbox2 h2, .rightbox2 h4, .rightbox2 button {
	/* 텍스트 */
	color: #292929;
}
.rightbox1, .rightbox2 {
	display: inline-block;
	/* position: absolute;
	left: 250px;
	top: 40px; */
	width: 189px;
	height: 260px;
	/* background: #292929; */
	/* border: 1px solid blue; */
	border-radius: 100px 100px 0 0;
	margin: 30px 15px;
}
/* #whitewine1 {
	position: absolute;
	left: 250px;
} */

.rightbox1:hover {
	box-shadow: 3px 3px 24px #be34547c;

}
.rightbox2:hover {
	box-shadow: 3px 3px 24px #be34544b;
}

/* right - text */
/* title */
.rightbox1:first-child h2,
.rightbox2:first-child h2 {
	position: absolute;
	top: 82px; /*42px*/
	left: 76px; /*82px*/
	font-size: 1.2em;
}
.rightbox1:nth-child(2) h2,
.rightbox2:nth-child(2) h2 {
	position: absolute;
	top: 82px; /*42px*/
	left: 295px; /*82px*/
	font-size: 1.2em;
}
.rightbox1:nth-child(3) h2,
.rightbox2:nth-child(3) h2 {
	position: absolute;
	top: 82px; /*42px*/
	left: 520px; /*82px*/
	font-size: 1.2em;
}
.rightbox1:nth-child(4) h2,
.rightbox2:nth-child(4) h2 {
	position: absolute;
	top: 82px; /*42px*/
	left: 745px; /*82px*/
	font-size: 1.2em;
}

/* country */
.rightbox1:first-child h4,
.rightbox2:first-child h4 {
	position: absolute;
	top: 150px; /*122px*/
	left: 86px; /*82px*/
	font-size: 0.9em;
}
.rightbox1:nth-child(2) h4,
.rightbox2:nth-child(2) h4 {
	position: absolute;
	top: 150px; /*122px*/
	left: 315px; /*82px*/
	font-size: 0.9em;
}
.rightbox1:nth-child(3) h4,
.rightbox2:nth-child(3) h4 {
	position: absolute;
	top: 150px; /*122px*/
	left: 530px; /*82px*/
	font-size: 0.9em;
}
.rightbox1:nth-child(4) h4,
.rightbox2:nth-child(4) h4 {
	position: absolute;
	top: 150px; /*122px*/
	left: 750px; /*82px*/
	font-size: 0.9em;
}

/* right - button */
.rightbox1:first-child button,
.rightbox2:first-child button {
	position: absolute;
	top: 198px; /*180px*/
	left: 82px; /*78px*/
	font-weight: bold;
	font-size: 1em;
	font-family: 'Antic Didone', serif;
	border: none;
	background: none;
	margin: 5px;
	cursor: pointer;
}
.rightbox1:nth-child(2) button,
.rightbox2:nth-child(2) button {
	position: absolute;
	top: 198px; /*180px*/
	left: 315px; /*78px*/
	font-weight: bold;
	font-size: 1em;
	font-family: 'Antic Didone', serif;
	border: none;
	background: none;
	margin: 5px;
	cursor: pointer;
}
.rightbox1:nth-child(3) button,
.rightbox2:nth-child(3) button {
	position: absolute;
	top: 198px; /*180px*/
	left: 530px; /*78px*/
	font-weight: bold;
	font-size: 1em;
	font-family: 'Antic Didone', serif;
	border: none;
	background: none;
	margin: 5px;
	cursor: pointer;
}
.rightbox1:nth-child(4) button,
.rightbox2:nth-child(4) button {
	position: absolute;
	top: 198px; /*180px*/
	left: 750px; /*78px*/
	font-weight: bold;
	font-size: 1em;
	font-family: 'Antic Didone', serif;
	border: none;
	background: none;
	margin: 5px;
	cursor: pointer;
}
/* right - button:hover */
.rightbox1:hover button {
	color: #ffe7ed;
}
.rightbox2:hover button {
	color: #BE3455;
} 
/* right - img */
.rightbox1 img, .rightbox2 img {
	position: absolute;
	top: 65px;
}
.rightbox1:first-child img,
.rightbox2:first-child img {
	position: absolute;
	left: 10px;
}
.rightbox1:nth-child(2) img,
.rightbox2:nth-child(2) img {
	position: absolute;
	left: 235px;
}
.rightbox1:nth-child(3) img,
.rightbox2:nth-child(3) img {
	position: absolute;
	left: 455px;
}
.rightbox1:nth-child(4) img,
.rightbox2:nth-child(4) img {
	position: absolute;
	left: 685px;
}

/* footer */
footer {
	width: 100%;
	height: 150px;
	background: #000;
	margin-top: 100px;
	padding: 40px;
	text-align: center;
}
/* footerlink1 */
footer>.footerlink1 a {
	border: #fff;
	display: inline-block;
	border-right: 1px solid #fff;
	margin: 20px 15px 20px 0;
	padding-right:15px;
}
footer>.footerlink1 a:last-child {
	border: none;
}
footer>.footerlink1 a,
footer>.footerlink2 p {
	color: #fff;
}
footer>.footerlink1 a:hover {
	color: #BE3455;
}
/* footerlink2 */
footer>.footerlink2 p {
	margin-left: -40px;
}

/* 반응형 */
@media screen and (min-width: 74em) {
	.frame {
		text-align: left;
		top: 0;
		left: 0;
		display: grid;
		align-content: space-between;
		width: 100%;
		max-width: none;
		padding: 2rem 2rem 0;
		pointer-events: none;
		grid-template-columns: 52vw auto;
		grid-template-areas: 'pagetitle links' 'title title';
	}
	.frame__title {
		line-height: 0.7;
		grid-area: title;
		font-size: 16.4vw;
		width: 100%;
		text-align: center;
		pointer-events: none;
		white-space: nowrap;
		margin: 0 0 4vw;
	}
	.frame__links {
		grid-area: links;
		padding: 0;
		justify-self: end;
	}
	.frame a {
		pointer-events: auto;
	}
	.content {
		z-index: 1000;
		padding-top: 0;
		justify-content: space-between;
		max-width: none;
	}
	.item:nth-child(odd) {
		padding-top: 10vh;
	}
}
@media screen and (min-width:320px){
    .frame__title {
        top: 5px;
		line-height: 0.7;
		grid-area: title;
		font-size: 16.4vw;
		width: 100%;
		text-align: center;
		pointer-events: none;
		white-space: nowrap;
		margin: 0 0 4vw 19vw;
		color: #BE3455;
	}
	/* menu */
    .frame__links a{
        font-size: 18px;
		grid-area: links;
		padding: 10px;
        border-bottom: 1px solid #BE3455;
        display: block;
		justify-self: end;
        position: relative;
        top: 30px;
		color: #BE3455;
	}

	.item {
		flex: none;
		width: 250px;
		/* width: 15.5vw; */
		/* background-color: #be345415; */
		padding: 1rem;
		margin: 0 0 4vw 4vw;
	}
}

@media screen and (min-width:768px){
    .frame__title {
        top: 10px;
		line-height: 0.7;
		grid-area: title;
		font-size: 16.4vw;
		width: 100%;
		text-align: center;
		pointer-events: none;
		white-space: nowrap;
		margin: 0 0 4vw;
	}
	/* menu */
    .frame__links a{
        font-size: 30px;
		grid-area: links;
		padding: 25px;
        display: block;
		justify-self: end;
        position: relative;
        top: 30px;
	}
}
@media screen and (min-width:1200px){
    .frame__title {
        top: 60px;
        left: 10px;
		line-height: 0.7;
		grid-area: title;
		font-size: 16.4vw;
		width: 100%;
		text-align: center;
		pointer-events: none;
		white-space: nowrap;
		margin: 0 0 4vw;
	}
	/* menu */
    .frame__links a{
		display: inline-block;
        font-size: 20px;
		padding: 0 15px;
		grid-area: links;
		justify-self: end;
        border-right: 1px solid #BE3455;
        border-bottom: none;
        position: relative;
        top: 4px;
		left: 10px;
	}
    .frame__links a:last-child {
        border-right: none;
    }
}

/* cursor */
.cursor {
	display: none;
}
@media (any-pointer:fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		z-index: 10000;
	}

	.cursor__inner {
		fill: var(--cursor-fill);
	}

	.no-js .cursor {
		display: none;
	}
}
